
# 编译的class文件不需要推送
*.class

# package file 以下格式的不提交
*.jar
*.war
*.ear

# kdiff3 ignore
*.orig

# maven ignore  中的taget文件忽略
target/

# eclipse ignore
.settings/
.project
.classpatch

# idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
*.DS_Store
Thumbs.db